h2 p {
    color: #165AE9;
}


h1 p {
    color: #4f505a;
}

h3 p {
    color: #4f505a;
}

h3 {
    color: #4f505a;
}

b {
    color: #4f505a;
}

.logo {
    width: 60%;
}

.iconsAtivo {
    width: 2rem;
    height: 2rem;
}

.dadosOrcamento {
    background-color: #165AE9;
    color: #fff !important;
    border-radius: 90px 0 90px 0;
    max-height: 40vh;
}

.dadosCliente {
    border-color: #165AE9;
    border-radius: 0 0 90px 0;
    max-height: 40vh;
}


body {
    margin: 0;
    padding: 0;
    background-color: #FAFAFA;
    font: 09pt "Tahoma";
  }
  
  * {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
  }
  
  .page {
    width: 17cm;
    min-height: 40cm;
    border: 1px #D3D3D3 solid;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    line-height: 0.9;
  }
  
  .subpage {
    padding: 1cm;
    border: 5px red solid;
    height: 300mm;
    outline: 2cm #FFEAEA solid;
  }

