<h2>Proposta</h2>
<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th scope="col">Cliente</th>
        <th scope="col">Ano do veiculo</th>
        <th scope="col">Origem do veiculo</th>
        <th scope="col">Destino do veiculo</th>
        <th scope="col">Telefone celular</th>
        <th scope="col">Coleta do veiculo</th>
        <th scope="col">Endereço de coleta do veiculo</th>
        <th scope="col">Endereço de entrega do veiculo</th>
        <th scope="col">Observação</th>
        <th scope="col">Valor total do veiculo</th>
        <th scope="col">Orçamento de serviço</th>
        <th scope="col">Coleta</th>
        <th scope="col">Entrega</th>
        <th scope="col">Prazo de entrega</th>
        <th scope="col">ID de Usuario</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <!-- <td>1,001</td> -->
      </tr>
    </tbody>
  </table>
</div>